body,html
{
	height:100%;
	padding:0px;
	margin:0px;
	background-image:url(../img/fondo2.png);
	color:#FFF;
}
.a
{
	
}
.b
{
	
}
.c
{
	
	display:block !important;
}
.a,.b,.c
{
	display:inline-block;
	width:33.33%;
	height:100%;
	float:left;
}
.d
{
	background-image:url(../img/Sulo_Luna3.jpg);
	background-size:cover;
	position:fixed;
	bottom:0px;
	height:10%;
	width:100%;
}
#nave
{
	text-align:center;
	position:fixed;
	top:10%;
	width:100%;
	height:20%
}
#nave img
{
	height:100%;
}
#cpanel{}
#hidem,#showm
{
	display:none;
}
