@charset "utf-8";
#nave
{
	text-align:center;
	position:fixed;
	top:5%;
	width:100%;
	height:20%;
}
#nave img
{
	height:100%;
}
#panel
{
	color:#FFF;
	list-style:none;
}
#panel2
{
	color:#FFF;
	list-style:none;
	float:right;
	margin-right:40px;
}
#foot
{
	
}

body,html
{
	height:100%;
	padding:0px;
	margin:0px;
	background-image:url(../img/fondo2.png);
}
			
.a
{
	
}
			
.b
{
	
}
.c
{
	
}
			
.a,.b,.c
{
	display:inline-block;
	width:33.33%;
	height:100%;
	float:left;
}
.d
{
	height:30%;
	width:100%;
	position:fixed;
	bottom:0px;
	background-image:url(../img/Sulo_Luna3.jpg);
	background-size:cover;
}
a
{
	color:#FFF;
}

/* CSS Document */

